In [1]:
import planeTracker as pt

In [2]:
planes = pt.get_planes()

In [3]:
pt.show_frame(planes['naughty'])

Empty DataFrame
Columns: [Source, Destination, alt, reg_number, flag]
Index: []

In [4]:
pt.show_frame(planes['arrivals'])

,Source,Destination,alt,reg_number,flag
110,Paris-Le Bourget Airport,Farnborough Airport,0,9H-VJV,MT
14,Piarco International Airport,London Gatwick Airport,0,G-VIIX,UK
49,Copenhagen Airport,London Gatwick Airport,0,G-EZAN,GB
103,Zurich Airport,London Heathrow Airport,0,HB-JCU,CH
108,Dublin Airport,London Heathrow Airport,0,EI-NSA,IE
39,Frankfurt Airport,London Heathrow Airport,22,NaN,DE
44,Cancun International Airport,London Gatwick Airport,167,G-YMMC,UK
87,Queen Alia International Airport,London Heathrow Airport,510,G-TTNS,UK
34,Lisbon Humberto Delgado Airport,London Heathrow Airport,868,CS-TXC,PT
86,Verona Villafranca Airport,London Gatwick Airport,891,G-WUKT,UK
50,Copenhagen Airport,London Heathrow Airport,1249,G-EUXM,UK
30,Belfast International Airport,London Gatwick Airport,1607,G-UZLB,GB
116,Dallas/Fort Worth International Airport,London Heathrow Airport,2019,N838MH,US
66,Munich International Airport,London Heathrow Airport,2103,G-EUYS,UK
82,Seattle-Tacoma International Airport,London Heathrow Airport,2148,G-ZBLF,UK
106,Ancona Falconara Airport,London Stansted Airport,2994,EI-DWG,IE
40,Duesseldorf International Airport,London Heathrow Airport,3482,D-AKNT,DE
42,John F. Kennedy International Airport,London Heathrow Airport,4267,G-VIIC,UK
77,Los Angeles International Airport,London Heathrow Airport,4472,G-VTEA,UK
111,Paris-Le Bourget Airport,London Luton Airport,4838,9H-IRL,MT
48,Salzburg Airport,London Gatwick Airport,5151,G-DBCE,UK
99,Amsterdam Airport Schiphol,London Luton Airport,5486,OE-FAT,AT
115,Los Angeles International Airport,London Heathrow Airport,7307,N724AN,US
29,Brussels Airport,London Heathrow Airport,7315,G-TTNG,UK
17,Hannover Airport,London Heathrow Airport,7528,G-EUUT,UK
46,Berlin Brandenburg Airport,London Heathrow Airport,8595,G-EUUA,UK
3,Abu Dhabi International Airport,London Heathrow Airport,9883,A6-BLX,AE
2,Dubai International Airport,London Heathrow Airport,10553,A6-EVM,AE

In [5]:
pt.show_frame(planes['departures'])

,Source,Destination,alt,reg_number,flag
72,London Heathrow Airport,Grantley Adams International Airport,-91,G-VOWS,UK
27,London Heathrow Airport,Dublin Airport,0,G-EUYL,UK
15,London Heathrow Airport,Edinburgh Airport,0,G-EUOA,UK
79,London City Airport,Edinburgh Airport,0,G-LCAH,UK
12,London Heathrow Airport,Murtala Muhammed International Airport,0,G-VIIK,UK
88,RAF Northolt,Tallinn Airport,0,G-ZABH,UK
73,London Gatwick Airport,Ben Gurion International Airport,53,G-UZHD,UK
70,London Heathrow Airport,Indira Gandhi International Airport,579,G-VAHH,UK
43,London Heathrow Airport,Newark Liberty International Airport,990,G-VIID,UK
38,London Luton Airport,Frankfurt Airport,1074,D-AEAT,DE
105,London Gatwick Airport,Dublin Airport,1394,EI-DEO,IE
112,London Heathrow Airport,Singapore Changi Airport,1828,9V-SKS,SG
104,London Gatwick Airport,Istanbul Airport,3238,TC-LSJ,TR
65,London Heathrow Airport,George Best Belfast City Airport,3954,G-EUYB,IE
35,London Heathrow Airport,Adolfo Suarez Madrid-Barajas Airport,4587,EC-LZJ,ES
32,London Gatwick Airport,Francisco de Sa Carneiro Airport,4831,CS-TAY,PT
100,London Heathrow Airport,Brussels Airport,6278,OO-SNM,BE
83,London Heathrow Airport,Stockholm Arlanda Airport,7520,G-TTNR,UK
107,London Luton Airport,Fuerteventura Airport,7871,EI-EMR,IE
33,London Gatwick Airport,Lisbon Humberto Delgado Airport,8069,CS-TPQ,PT
13,London Gatwick Airport,Piarco International Airport,8130,G-VIIT,UK
67,London Heathrow Airport,Grantley Adams International Airport,8923,G-STBI,UK
101,London Heathrow Airport,Warsaw Chopin Airport,8961,SP-LVA,PL
9,London Stansted Airport,Genoa Cristoforo Colombo Airport,9982,EI-HAW,IE
1,London Luton Airport,Florence Peretola Airport,12451,CS-PHR,PT

In [6]:
pt.show_frame(planes['flyovers'])

,Source,Destination,alt,reg_number,flag
113,Dubai International Airport,Birmingham International Airport,7620,A6-EGM,AE
11,Hartsfield-Jackson Atlanta International Airport,Paris Charles de Gaulle Airport,9494,N842MH,US
0,Amsterdam Airport Schiphol,Tocumen International Airport,9753,PH-BQL,NL
5,Frankfurt Airport,Chicago O'Hare International Airport,10363,D-ABVX,DE
10,Paris Charles de Gaulle Airport,John F. Kennedy International Airport,10972,N406DX,US
6,Frankfurt Airport,Keflavik International Airport,10980,D-AINF,DE
4,Benito Juarez International Airport,Paris Charles de Gaulle Airport,11277,F-GZNB,FR
7,Katowice International Airport,Liverpool John Lennon Airport,11582,HA-LYC,HU
8,Aeroport Geneve-Cointrin,Dublin Airport,11590,EI-DEL,IE

In [7]:
pt.show_frame(planes['mystery'])

    Source Destination   alt reg_number flag
31     NaN         NaN  -129     G-IDFE   GB
124    NaN         NaN  -121     G-DRGL   GB
55     NaN         NaN   -91     G-BEZO   GB
74     NaN         NaN   -45     G-ETPG   UK
45     NaN         NaN     0     G-YMMH   GB
..     ...         ...   ...        ...  ...
85     NaN         NaN  1463     G-PFTC   GB
134    NaN         NaN  1493     G-ETPC   UK
84     NaN         NaN  3261     G-SNDZ   GB
41     NaN         NaN  3459     G-ETPK   UK
102    NaN         NaN  3596     CS-PHN   PT

[70 rows x 5 columns]